body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  width: 80%;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
}

.input-section,
.history-section {
  flex: 1;
  padding: 20px;
}

.input-section h1 {
  margin-bottom: 10px;
}

.input-section button,
.history-section button {
  display: block;
  margin-top: 10px;
  padding: 5px 10px;
}

.input-section input {
  margin-right: 5px;
  padding: 5px;
  width: 100px;
}

.result {
  margin-top: 20px;
  font-size: 18px;
}

.history {
  margin-top: 20px;
  text-align: left;
}

@media (max-width: 768px) {
  /* 768px 이하인 경우에만 적용됩니다 */
  .container {
    flex-direction: column;
  }

  .history-section {
    order: 2;
  }
}
